.container {
  width: 470px;
  height: 550px;
  background: #fff;
  border: 16px solid #1067ea /*--Primary-color--*/;
  border-radius: 4px;
  margin: auto;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}
.inner-container{
  width:70%;
}
.btn {
  width: 100%;
}
.input-group{
  display: flex;
  gap:5px;
  text-align: left;
}
.error{
  color:red;
  text-align: left;
  display: block;
}